@tailwind base;
@tailwind components;
@tailwind utilities;

@layer url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  @apply text-gray-900
}

header{
  @apply bg-gray-900 flex justify-center items-center sticky top-0 z-50
}

button,button[type="submit"]{
  @apply h-14 px-16 py-2.5 bg-yellow-500 hover:bg-yellow-400 transition-colors rounded-[500px] shadow-md shadow-yellow-500/25 justify-center items-center gap-2 inline-flex font-bold text-lg w-min
}

textarea, select {
  @apply w-full h-[104px] p-4 bg-white rounded-lg border border-gray-400 
}

select{
  background: url("../../public/assets/Icon/arrow.svg") no-repeat right;
  background-position-x: 95%;
  background-size: 12px;
  appearance: none;
}

form h1{
  @apply text-2xl font-semibold mb-2
}

.Toastify__toast-container{
  @apply sm:p-8 !p-4 max-sm:!mb-5 sm:!w-[45%]
}

.Toastify__toast{ 
  @apply !w-auto !p-6 !rounded-2xl !flex !items-center justify-center bg-blend-multiply border-2 border-gray-400 my-2
}
.Toastify__toast-body{
  @apply !m-0 !p-0
}
.Toastify__close-button{
  @apply hover:bg-inherit hover:shadow-none shadow-none h-min my-auto
}
.Toastify__toast--success{
  @apply  !bg-green-100 border-green-500
}
.Toastify__toast--warning {
  @apply  !bg-yellow-100 border-yellow-500
}
.Toastify__toast--error {
  @apply !bg-red-100 border-red-500
}